.row{ margin: 0;    --bs-gutter-x: 0rem;}
.image-container{height: 800px;}
.logo{width: 120;
height: 78;
opacity: 1;
top: 80px;
left: 1020px;
}

.titel{    
font-weight: 600;
font-style: SemiBold;
font-size: 24px;
color: rgba(9, 9, 55, 0.6);
}
.dis{
    font-family: Manrope;
font-weight: 400;
font-style: Bold;
font-size: 32px;
color: rgba(9, 9, 55, 1);
}

.logn h1{
font-family: Manrope;
font-weight: 700;
font-style: Bold;
font-size: 32px;}

.everyone{ margin-left: 20%;}
form{width: 50%;margin-top: 20%;
@media (max-width: 768px) {
    width:100%;
}
}
mat-form-field{width: 100%;}
/*forma password*/
.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}
.loginbtn{
height: 60;
opacity: 1;
text-align: center;
border-radius: 4px;
padding: 10px 45%;
gap: 10px;
background-color: rgba(239, 107, 74, 1) !important;
}
.Reginbtn{
 //
height: 60;
opacity: 1;
text-align: center;
border-radius: 4px;
padding: 10px 42%;
margin-top: 10px;
gap: 10px;
}